<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Baku City Circuit</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
<!-- Header -->
<header id="header">

    <a href="azerbaijan.html" class="logo">Baku City Circuit</a>


</header>


<!-- Banner -->
<section id="banner">
    <div class="content">
        <style>
            #banner {
                background-image: url(../../static/images/baku.jpg);
            }
        </style>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item left">
            <div>
                <h3>Number of Laps</h3>
                <p>51<br/> 6.003 km (3.730 mi)/Lap</p>
            </div>
            <div>
                <h3>Circuit Lap Record</h3>
                <p>1:43.009 Charles Leclerc (2019) </p>
            </div>
        </div>
        <div class="flex-item image fit round">
            <img src="../../static/images/bottasBaku.jpg" alt="Baku Bottas" id="bakuBottas">
        </div>
        <div class="flex-item right">
            <div>
                <h3>Previous Winners</h3>
                <p>
                <table>
                    <tbody>
                    <tr>
                        <td>Year&nbsp;</td>
                        <td>Driver</td>
                        <td>Constructor</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>Valtteri Bottas</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>Lewis Hamilton</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>Daniel Ricciardo</td>
                        <td>Red Bull Racing-Tag Heuer</td>
                    </tr>
                    <tr>
                        <td>2016(As European GP)</td>
                        <td>Nico Rosberg</td>
                        <td>Mercedes</td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
            <div>
                <h3>Most Wins</h3>
                <p>Constructor: Mercedes (2)</p>
                <p>Driver: No repeat winners as of 2019 </p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <h2>About the circuit</h2>
        <p>
        <p>
            Baku joins the likes of Monaco, Melbourne and Singapore as a beloved street circuit. It’s first grand prix
            was held in 20016 as the European Grand Prix with it being changed to the Azerbaijan Grand Prix from 2017
            onwards.
        </p>
        <p>
            Its long main straight is a perfect opportunity for the current cars to display the prowess of DRS and get
            some much needed overtakes. The rest of the circuit loops around the citiy’s old town with a tight section
            between the new and old city walls.
        </p>
        </p>
        <footer>

        </footer>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item box">
            <div class="image fit">
                <img src="../../static/images/bakuCircuit.png" alt="Circuit" id="bakuCircuit">
            </div>
            <div class="content">
                <h3>Circuit Layout</h3>
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>

</body>
</html>