<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Hockenheimring</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
		<!-- Header -->
			<header id="header">

				<a href="germany.html" class="logo">Hockenheimring</a>


			</header>



		<!-- Banner -->
			<section id="banner">
				<div class="content">
                    <style>
                        #banner {
                            background-image: url(../../static/images/hockenheim.jpeg);
                        }
                    </style>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>Number of Laps</h3>
							<p>Morbi in sem quis dui plalorem ipsum<br /> euismod in, pharetra sed ultricies.</p>
						</div>
						<div>
							<h3>Circuit Lap Record</h3>
							<p>Tristique yonve cursus jam nulla quam<br /> loreipsu gravida adipiscing lorem</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="../../static/images/schumacherHockenheim.jpg" alt="Hockenheim Schumacher" id = "hockenheimSchumacher">
					</div>
					<div class="flex-item right">
						<div>
							<h3>Previous Winners</h3>
							<p>Sed adipiscing ornare risus. Morbi estes<br /> blandit sit et amet, sagittis magna.</p>
						</div>
						<div>
							<h3>Most Wins</h3>
                            <p>Constructor:</p>
                            <p>Driver: </p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>About the circuit</h2>
					    <p>
					        Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br /> magna etiam lorem ultricies in diam. Sed arcu cras consequat.
                        </p>
					    <footer>

					    </footer>
                </div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="../../static/images/HockenheimCircuit.png" alt="Circuit" id = "hockenheimCircuit">
						</div>
						<div class="content">
							<h3>Circuit Layout</h3>
							<p>Placerat ornare. Pellentesque od sed euismod in, pharetra ltricies edarcu cas consequat.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			 <script src="{% static 'scripts/jquery.min.js' %}"></script>

	</body>
</html>