<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Circuit of the Americas</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
<!-- Header -->
<header id="header">

    <a href="usa.html" class="logo">Circuit of the Americas</a>


</header>


<!-- Banner -->
<section id="banner">
    <div class="content">
        <style>
            #banner {
                background-image: url(../../static/images/cota.jpg);
            }
        </style>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item left">
            <div>
                <h3>Number of Laps</h3>
                <p>56 <br/> 5.513 km (3.426 mi)/Lap</p>
            </div>
            <div>
                <h3>Circuit Lap Record</h3>
                <p>1:32.029<br/> ( Lewis Hamilton, Mercedes, 2019) Pole Position</p>
            </div>
        </div>
        <div class="flex-item image fit round">
            <img src="../../static/images/cotaHamilton.jpeg" alt="COTA Hamilton" id="cotaHamilton">
        </div>
        <div class="flex-item right">
            <div>
                <h3>Previous Winners</h3>
                <p>
                <table>
                    <tbody>
                    <tr>
                        <td>Year&nbsp;</td>
                        <td>Driver</td>
                        <td>Constructor</td>
                    </tr>
                    <tr>
                        <td>&nbsp;2019</td>
                        <td>Valtteri Bottas</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>&nbsp;2018</td>
                        <td>Kimi Raikkonen</td>
                        <td>&nbsp;Ferrari</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>Lewis Hamilton</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>Lewis Hamilton</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>Lewis Hamilton</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td>Lewis Hamilton</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <td>&nbsp;2013</td>
                        <td>Sebastian Vettel</td>
                        <td>Red Bull-Renault</td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>Lewis Hamilton</td>
                        <td>McLaren-Mercedes</td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
            <div>
                <h3>Most Wins (All US GP circuits</h3>
                <p>Constructor: Ferrari (10)</p>
                <p>Driver: Lewis Hamilton (6) </p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <h2>About the circuit</h2>
        <p>
            <p>
            The Circuit of The Americas is another one of Hermann Tilke’s circuits. It took a number of years to be
            built due to some setbacks but finally had its opening in October of 2012
    </p><p>
            Its inaugural race was in 2012. It had been 4 seasons since Formula 1 last raced in the USA with the
            previous race being held in the 2007 season at Indianapolis.
    </p><p>
            Its famous S style section between turns 3 and 6 are resonant of Silverstone’s Maggotts and Becketts or
            Suzuka’s S Curves. The circuit is a fan favourite for providing some of the best overtaking of the season.
    </p>
        </p>
        <footer>

        </footer>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item box">
            <div class="image fit">
                <img src="../../static/images/cotaCircuit.png" alt="Circuit" id="cotaCircuit">
            </div>
            <div class="content">
                <h3>Circuit Layout</h3>
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>

</body>
</html>